@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-3:before {
	content: "\e000";
}
.flaticon-4:before {
	content: "\e001";
}
.flaticon-7:before {
	content: "\e002";
}
.flaticon-9:before {
	content: "\e003";
}
.flaticon-1:before {
	content: "\e004";
}
.flaticon-5:before {
	content: "\e005";
}
.flaticon-6:before {
	content: "\e006";
}
.flaticon-2:before {
	content: "\e007";
}
.flaticon-8:before {
	content: "\e008";
}
