<ion-nav-view name="dashboardContent">
    <ion-side-menu-content>
        <ion-nav-bar class="bar">
            <ion-nav-buttons>
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title>
                NeoSTORE
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search-strong"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header" scroll="false">
            <ion-slide-box auto-play="true">
                <ion-slide ng-repeat="image in images">
                    <div class="box">
                        <img src="{{image}}" onError="this.onerror=null;this.src='';">
                    </div>
                </ion-slide>
            </ion-slide-box>
                <div class="row dashboardRow">
                    <div class="col-50">
                        <div class="button tiles" style="background-color: #d60919">
                            <span class="tileLabels" style="float:right;right:15px;top: 15px;">Tables</span>
                            <span class="tileIcon flaticon-1" style="float:left;left:15px;bottom:15px;"></span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="button tiles" style="background-color: #ca0007">
                            <span class="tileLabels" style="float:left;left:15px;bottom:15px;">Sofas</span>
                            <i class="tileIcon flaticon-2" style="float:right;right:15px;top:15px;"></i>
                        </div>
                    </div>
                </div>
                <div class="row dashboardRow">
                    <div class="col-50">
                        <div class="button tiles" style="background-color: #f91623">
                            <span class="tileLabels" style="float:left;left:15px;top: 15px;">Chairs</span>
                            <i class="tileIcon flaticon-3" style="float:right;right:15px;bottom:15px;"></i>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="button tiles" style="background-color: #b60412">
                            <span class="tileLabels" style="float:right;right:15px;bottom: 15px;">Cupboards</span>
                            <i class="tileIcon flaticon-4" style="float:left;left:15px;top:15px;"></i>
                        </div>
                    </div>
                </div>
        </ion-content>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="menuDrawer">
            <ion-list>
                <ion-item menu-close>
                    <div class="avatar">
                        <img src="http://demos.telerik.com/kendo-ui/content/shared/images/photos/1.jpg"/>
                        <span class="userName">Bhupendra Patel</span>
                        <span class="emailAddress">bhupendra.patel@wwindia.com</span>
                    </div>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-5"></span>
                    <span class="menuLabel">My Cart</span>
                    <span class="redCircle">2</span>
                </ion-item>
                <ion-item menu-close class="button button-clear"  ng-click="goToListPage()">
                    <span class="menuIcon flaticon-1"></span>
                    <span class="menuLabel">Tables</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-2"></span>
                    <span class="menuLabel">Sofas</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-3"></span>
                    <span class="menuLabel">Chairs</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-4"></span>
                    <span class="menuLabel">Cupboards</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-6"></span>
                    <span class="menuLabel">My Profile</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-7"></span>
                    <span class="menuLabel">Store Locator</span>
                </ion-item>
                <ion-item menu-close class="button button-clear">
                    <span class="menuIcon flaticon-8"></span>
                    <span class="menuLabel">My Orders</span>
                </ion-item>
                <ion-item menu-close class="button button-clear" ng-click="logout()">
                    <span class="menuIcon flaticon-9"></span>
                    <span class="menuLabel">Logout</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-nav-view>