<ion-modal-view class="redBg">
    <ion-header-bar>
        <h1 class="navBar title">Forgot Password</h1>
        <div class="buttons-left">
            <button class="button button-icon clear ion-ios-arrow-back" ng-click="closeForget()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="forgotForm" ng-submit="forgotForm.$valid && getPassword()" novalidate>
            <div class="list register">
                <label class="item item-input">
                    <h1 id="logo">NeoSTORE</h1>
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : forgotForm.email.$invalid && !forgotForm.email.$pristine || forgotForm.$submitted, 'no-errors' : forgotForm.email.$valid && !forgotForm.email.$pristine}">
                    <i class="icon ion-ios-email placeholder-icon leftIcon"></i>
                    <input type="email" name="email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" ng-model="forgotData.email" placeholder="Email" required />
                </label>
                <label class="item">
                    <a class="button button-light registerBtn" ng-click="getPassword()">Forgot Password</a>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>