<ion-nav-view name="listContent">
    <ion-side-menu-content>
        <ion-nav-bar class="bar">
            <ion-nav-buttons>
                <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
            </ion-nav-buttons>
            <ion-nav-title>
                Table
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search-strong"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-side-menu-content>
</ion-nav-view>