<ion-nav-view name="loginContent" class="redBg">
    <ion-content>
        <div class="list login">
            <label class="item item-input">
                <h1 id="logo">NeoSTORE</h1>
            </label>
            <form name="loginForm" ng-submit="loginForm.$valid && doLogin()" novalidate>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : loginForm.email.$invalid && !loginForm.email.$pristine || loginForm.$submitted, 'no-errors' : loginForm.email.$valid && !loginForm.email.$pristine}">
                    <i class="icon ion-android-person placeholder-icon leftIcon"></i>
                    <input type="email" name="email" ng-model="loginData.username"  ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" placeholder="Username" required />
                </label>
                <label class="item item-input textInput"  ng-class="{ 'has-errors' : loginForm.password.$invalid && !loginForm.password.$pristine || loginForm.$submitted, 'no-errors' : loginForm.password.$valid && !loginForm.password.$pristine}">
                    <i class="icon ion-ios-locked placeholder-icon leftIcon"></i>
                    <input type="{{inputType}}" name="password" ng-model="loginData.password" minlength="8" placeholder="Password" required />
                </label>
                <label class="item" style="text-align: left;">
                    <input type="checkbox" name="showPass" id="showPassword" ng-click="showPassword()"/>
                    <label for="showPassword"><span></span>Show Password</label>
                </label>
                <label class="item">
                    <button class="button button-light loginBtn">LOGIN</button>
                </label>
            </form>
            <label class="item">
                <button class="button button-light forgotBtn" ng-click="forgotPass()">Forgot Password?</button>
            </label>
        </div>

    </ion-content>
    <ion-footer-bar class="bottomRegister hide-on-keyboard-open">
        <div class="verticalAlign">
            <h2>DON'T HAVE AN ACCOUNT?</h2>
            <button class="rightIcon" ng-click="register()">
                <i class="icon ion-ios-plus-empty placeholder-icon"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-nav-view>