<ion-modal-view class="redBg registerPage">
    <ion-header-bar>
        <h1 class="navBar title">Register</h1>
        <div class="buttons-left">
            <button class="button button-icon clear ion-ios-arrow-back" ng-click="closeRegister()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="registerForm" ng-submit="registerForm.$valid && doRegister()" novalidate>
            <div class="list register">
                <label class="item item-input">
                    <h1 id="logo">NeoSTORE</h1>
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.firstname.$invalid && !registerForm.firstname.$pristine || registerForm.$submitted, 'no-errors' : registerForm.firstname.$valid && !registerForm.firstname.$pristine}">
                    <i class="icon ion-android-person placeholder-icon leftIcon"></i>
                    <input type="text" name="firstname" ng-model="registerData.firstname" placeholder="First Name" required />
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.lastname.$invalid && !registerForm.lastname.$pristine || registerForm.$submitted, 'no-errors' : registerForm.lastname.$valid && !registerForm.lastname.$pristine}">
                    <i class="icon ion-android-person placeholder-icon leftIcon"></i>
                    <input type="text" name="lastname" ng-model="registerData.lastname" placeholder="Last Name" required />
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.email.$invalid && !registerForm.email.$pristine || registerForm.$submitted, 'no-errors' : registerForm.email.$valid && !registerForm.email.$pristine}">
                    <i class="icon ion-ios-email placeholder-icon leftIcon"></i>
                    <input type="email" name="email" ng-model="registerData.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" placeholder="Email" required />
                </label>
                <label class="item">
                    <ul class="genderWrapper">
                        <li>
                            <div class="input-label">Gender</div>
                        </li>
                        <li>
                            <input type="radio" name="gender" id="male" ng-model="registerData.gender" ng-value="Male"/>
                            <label for="male"><span></span>Male</label>
                        </li>
                        <li>
                            <input type="radio" name="gender" id="female" ng-model="registerData.gender" ng-value="Female"/>
                            <label for="female"><span></span>Female</label>
                        </li>
                    </ul>
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.phoneNo.$invalid && !registerForm.phoneNo.$pristine || registerForm.$submitted, 'no-errors' : registerForm.phoneNo.$valid && !registerForm.phoneNo.$pristine}">
                    <i class="icon ion-iphone placeholder-icon leftIcon"></i>
                    <input type="tel" name="phoneNo" ng-model="registerData.phoneNo" ng-pattern="/^[0-9]{10}/" maxlength="10" placeholder="Phone Number" required />
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.password.$invalid && !registerForm.password.$pristine || registerForm.$submitted, 'no-errors' : registerForm.password.$valid && !registerForm.password.$pristine}">
                    <i class="icon ion-ios-locked placeholder-icon leftIcon"></i>
                    <input type="{{inputType}}" name="password" ng-model="registerData.password" minlength="8" placeholder="Password" required />
                </label>
                <label class="item" style="margin-bottom: 10px; text-align: left;">
                    <input type="checkbox" name="showPass" id="showPass" ng-click="showPassword()"/>
                    <label for="showPass"><span></span>Show Password</label>
                </label>
                <label class="item item-input textInput" ng-class="{ 'has-errors' : registerForm.cpassword.$invalid && !registerForm.cpassword.$pristine || registerForm.$submitted, 'no-errors' : registerForm.cpassword.$valid && !registerForm.cpassword.$pristine}">
                    <i class="icon ion-ios-locked placeholder-icon leftIcon"></i>
                    <input type="{{inputType}}" name="cpassword" ng-model="registerData.cpassword" minlength="8" compare-to="registerData.password" placeholder="Confirm Password" required />
                </label>
                <label class="item">
                    <input type="checkbox" name="t&c" id="t&c" ng-model="registerData.agree" required />
                    <label for="t&c"><span></span>I agree the <a style="text-decoration: underline">Terms & Conditions</a></label>
                </label>
                <label class="item">
                    <button class="button button-light registerBtn">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>