@font-face {
    font-family: 'GothamBook';
    src: url('fonts/GothamBook.eot');
    src: url('fonts/GothamBook.eot') format('embedded-opentype'),
         url('fonts/GothamBook.woff2') format('woff2'),
         url('fonts/GothamBook.woff') format('woff'),
         url('fonts/GothamBook.ttf') format('truetype'),
         url('fonts/GothamBook.svg#GothamBook') format('svg');
}
@font-face {
    font-family: 'GothamLight';
    src: url('fonts/GothamLight.eot');
    src: url('fonts/GothamLight.eot') format('embedded-opentype'),
         url('fonts/GothamLight.woff2') format('woff2'),
         url('fonts/GothamLight.woff') format('woff'),
         url('fonts/GothamLight.ttf') format('truetype'),
         url('fonts/GothamLight.svg#GothamLight') format('svg');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/GothamMedium.eot');
    src: url('fonts/GothamMedium.eot') format('embedded-opentype'),
         url('fonts/GothamMedium.woff2') format('woff2'),
         url('fonts/GothamMedium.woff') format('woff'),
         url('fonts/GothamMedium.ttf') format('truetype'),
         url('fonts/GothamMedium.svg#GothamMedium') format('svg');
}
@font-face {
    font-family: 'ufonts_com_gothambold';
    src: url('fonts/ufonts_com_gothambold.eot');
    src: url('fonts/ufonts_com_gothambold.eot') format('embedded-opentype'),
        url('fonts/ufonts_com_gothambold.woff2') format('woff2'),
        url('fonts/ufonts_com_gothambold.woff') format('woff'),
        url('fonts/ufonts_com_gothambold.ttf') format('truetype'),
        url('fonts/ufonts_com_gothambold.svg#ufonts_com_gothambold') format('svg');
}
@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
        url("fonts/flaticon.woff") format("woff"),
        url("fonts/flaticon.ttf") format("truetype"),
        url("fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}