/* FONTS */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-3:before {
    content: "\e000";
}
.flaticon-4:before {
    content: "\e001";
}
.flaticon-7:before {
    content: "\e002";
}
.flaticon-9:before {
    content: "\e003";
}
.flaticon-1:before {
    content: "\e004";
}
.flaticon-5:before {
    content: "\e005";
}
.flaticon-6:before {
    content: "\e006";
}
.flaticon-2:before {
    content: "\e007";
}
.flaticon-8:before {
    content: "\e008";
}


/* Empty. Add your own CSS if you like */

#body {
    font-family: 'GothamMedium';
    font-weight: 400;
}
.redBg {
    background: url('../img/background.png') center;
    background-size: cover;
}
.redBg .scroll {
    height: 100%;
    padding-top: 35%;
}
.login {
    margin: 0 8.5% 0 8.5%;
    text-align: center;
    background: transparent;
}
.login label.item {
    border: 0;
    background: transparent;
    padding: 0;
}
#logo {
    width: 100%;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
    font-family: 'ufonts_com_gothambold';
}
label.item.item-input.textInput {
    border: #FFFFFF 1px solid;
    border-radius: 3px;
    margin-bottom: 13px;
}
label.item.item-input.textInput.has-errors {
    border: #9e0100 1px solid;
}
label.item.item-input.textInput.no-errors {
    border: #4cd964 1px solid;
}
label.item.item-input input {
    margin: 5px 0 5px 0px;
    padding-right: 5px;
    font-size: 18px;
    color: #ffffff;
    line-height: 34px;
    font-family: 'GothamMedium';
}
.icon.leftIcon{
    color: #ffffff;
    font-size: 31px;
    line-height: 43px;
    width: 44px;
    padding-right: 0;
}
.button.button-light.loginBtn {
    margin-top: 13px;
    width: 100%;
    color: #9e0100;
    display: block;
    font-weight: 400;
    font-family: 'GothamMedium';
    font-size: 27px;
    line-height: 45px;
}
.button.button-light.loginBtn.activated {
    background-color: #f0f0f0;
}
.button.button-light.forgotBtn {
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    font-family: 'GothamMedium';
    background-color: transparent;
}
.button.button-light.forgotBtn.activated {
    color: #9e0100;
    box-shadow: none;
}
.bottomRegister {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 70px;
    left: 0;
    border: none;
    display: block;
    padding: 0 4% 20px 4%;
    bottom: 0;
    bottom: -4px;
}
.redBg .has-footer {
    bottom: 70px;
}
body.keyboard-open .has-footer{
    bottom: 0;
}
.verticalAlign {
    height: 100%;
    width: 100%;
    display: table;    
}
.bottomRegister h2 {
    color: #ffffff;
    display: table-cell;
    font-size: 16px;
    font-family: 'ufonts_com_gothambold';
    vertical-align: middle;
}
.rightIcon {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #9e0100;
    border: 1px #9e0100 solid;
    width: 50px;
    height: 50px;
}
.rightIcon.activated {
    padding: 0;
    border: 0;
    background-color: #bb0100;
}
.rightIcon .icon{
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    line-height: 50px;
    padding: 0;
    float: right;
    text-align: center;
}

/* Register */
.registerPage.redBg .scroll {
    padding-top: 10%;
}
.bar-header {
    background-color: #e91b1a;
}
.redBg .bar-header {
    border-bottom: 0;
}
.buttons-left .button {
    color: #ffffff;
}
.bar .title {
    color: #ffffff;
    font-size: 19px;
    font-family: 'GothamMedium';
    line-height: 44px;
    text-align: center;
}
.platform-android .bar .title.title-left {
    text-align: center;
}
.register {
    margin: 0 8.5% 0 8.5%;
    text-align: center;
    background: transparent;
}
.register label.item {
    border: 0;
    background: transparent;
    padding: 0;
}
.genderWrapper {
    margin-bottom: 13px;
}
.genderWrapper li {
    width: 33%;
    height: 100%;
    display: inline-block;
}
.genderWrapper li div.input-label {
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 0;
    padding-left: 5px;
}
.button.button-light.registerBtn {
    margin: 13px 0 20px 0;
    width: 100%;
    color: #9e0100;
    display: block;
    font-weight: 400;
    font-family: 'GothamMedium';
    font-size: 27px;
    line-height: 45px;
}
.button.button-light.registerBtn.activated {
    background-color: #f0f0f0;
}

/* dashboard */
ion-content.has-header {
    overflow: scroll;
}
.bar .button-clear {
    color: #ffffff;
}
.slider {
    height: 36%;
}
.box {
    height: 100%;
    background-size: cover;
    background: url(../img/logo.gif) no-repeat center;
}
.box img{
    height: 100%;
    width: 100%;
    background: url(../img/logo.gif) no-repeat center;
}
.slider-pager {
    bottom: 4%;
}
.slider-pager .slider-pager-page {
    opacity: 1;
}
.slider-pager-page .icon{
    color: #e91b1a;
}
.slider-pager-page.active .icon{
    color: #595959;
}
.row.dashboardRow {
    padding: 0;
    margin-top: 16px;
}
.col-50:nth-child(1) {
    width: 100%;
    height: 45vw;
    padding: 0px 8px 0px 16px;
}
.col-50:nth-child(2) {
    width: 100%;
    height: 45vw;
    padding: 0px 16px 0px 8px;
}
.tiles {
    display: block;
    width: 100%;
    height: 100%;
    background: #9e0100;
    position: relative;
    font-size: 5vw;
}
.tiles.activated {
    opacity: 0.8;
    background: #9e0100;
}
.tileLabels {
    color: #ffffff;
    font-size: 1.2em;
    font-family: "GothamMedium";
    line-height: 1;
    display: inline-block;
    position: absolute;
}
.tiles *[class*=" flaticon-"]:before, .tiles *[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    line-height: 1;
    font-size: 2em;
}
.tileIcon {
    font-family: Flaticon;
    font-style: normal;
    line-height: 1;
    font-size: 2em;
    color: #ffffff;
    display: inline-block;
    position: absolute;
}

/*  Left Menu Drawer */
.menuDrawer {
    background: #282828;
}
.menuDrawer .item {
    background: #282828;
    border-top: 1px #111111 solid;
    color: #ffffff;
    vertical-align: middle;
}
.menuDrawer .item:last-child {
    border-bottom: 1px #111111 solid;
}
.avatar {
    display: block;
    text-align: center;
}
.avatar img{
    width: 25vw;
    height: 25vw;
    border: 3px #ffffff solid;
    border-radius: 50%;
    margin: 14px 0;
}
.avatar span.userName {
    display: block;
    color: #ffffff;
    font-family: "GothamLight";
    font-weight: bold;
    font-size: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.avatar span.emailAddress {
    display: block;
    color: #ffffff;
    font-family: "GothamLight";
    font-size: 13px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tiles *[class*=" flaticon-"]:before, .tiles *[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.menuIcon {
    font-family: Flaticon;
    font-style: normal;
    font-size: 1.5em;
    color: #ffffff;
    display: inline-block;
}
.menuDrawer .item.button.button-clear{
    padding: 0 5vw;
    width: 100%;
    text-align: left;
}
.menuLabel {
    color: #ffffff;
    display: inline-block;
    font-size: 1.3em;
    padding-left: 3vw;
}
.redCircle {
    background-color: #bb0100;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 5vw;
    margin: 8px 0;
}

/** Global Properties **/
input::-webkit-input-placeholder {
    color: #ffffff;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

input:-ms-input-placeholder {
    color: #ffffff;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #FFFFFF;
    font-family:"GothamMedium";
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-clip: content-box, padding-box;
}

input[type="radio"] + label span {
    background-color:transparent;
    border: #FFFFFF 2px solid;
}

input[type="radio"]:checked + label span{
    background-color:#FFFFFF;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    padding: 2px;
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    color: #FFFFFF;
    font-family:"GothamMedium";
    font-size:14px;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
    content: ' ';
    background-clip: content-box, padding-box;
}

input[type="checkbox"] + label span {
    background-color:transparent;
    border: #FFFFFF 2px solid;
}

input[type="checkbox"]:checked + label span{
    background-color:#FFFFFF;
    content: ' ';
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
    padding: 2px;
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

/* spinner */
.spinner svg {
    height: 50px;
    width: 50px;
    stroke: #ffffff;
    fill: #ffffff;
}
.loaderDiv {
    display: table;
    margin: 0 30px;
}
.loaderDiv span {
    display: table-row;
}
.loaderDiv ion-spinner {
    display: table-row;
}